header {
	background-image: linear-gradient(rgb);
    text-align:center;
    padding:5px;	 
}
.nav-links{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	opacity: 1;
	z-index: 5;
}
nav ul{
	list-style-type:none;
	margin:0;padding:0;
	overflow:hidden;
	background-color:#990000;
}
nav li{
	float:left;
	padding:20px;
}
body{
	display: block;
	margin: auto;
	background-color:#ffcccc
}
.image1{
	padding: 30px;
}
.p1{
	color:#330000;
	font-size: 50px;
	position: absolute;
	width: 300px;
	top: 50%;
	right: 50%;
	bottom: 50%;
	left: 45%;		
}
.image2 {
		
	position: relative;
	left: 200px;
	margin-top:20px;
}
#two{
	width: 500px;
	position: relative;
	left: 200px;
}
.image3 {		
	position: relative;
	left: 200px;
	margin-top:20px;
	opacity: 0.8;
}
#three{
		width: 500px;
		position: relative;
		left: 200px;
		opacity: 0.8;
}
.reviews{
	text-align: center;
	background: linear-gradient(45deg,#800000,#80bfff,#b800e6)
}
	