* {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
}
.header {
  min-height: 100vh;
  width: 100%;
  background-image: url(pics/24.jpeg);
  background-position: center;
  background-size: cover;
  text-align: center;
  position: relative;
}
nav {
  display: flex;
  padding: 2% 4%;
  justify-content: space-between;
  align-items: center;
}
nav h1 {
  color: #fff;
  width: 150px;
  font-size: 50px;
}
.nav-links {
  padding-left: 40px;
  width: 10000px;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 15px 0 28px;
}
.nav-links ul li a {
  color: #fff;
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
}
.nav-links ul li a:hover {
  color: #80bfff;
  background-color: rgb(201, 120, 15);
}
.nav-links ul li a::after {
  color: #80ecff;
}
.text {
  width: 450px;
  position: absolute;
  top: 40%;
  left: 10%;
}
.text h2 {
  color: #fff;
  padding-bottom: 15px;
  font-size: 40px;
}
.text p {
  font-size: 23px;
  color: #d0e2e6;
}
nav .fa {
  display: none;
}

/*--About---*/
.about {
  padding: 30px;
}
.row {
  display: flex;
  justify-content: space-between;
}
.about-col {
  flex-basis: 32%;
}
.about-col img {
  width: 100%;
  display: block;
}

/*---------*/

.breed {
  width: 95%;
  margin: auto;
  text-align: center;
}
.breed h2 {
  text-align: center;
  font-size: 25px;
  padding: 20px 20px;
  padding-bottom: 0;
}
.row {
  margin: 2%;
  display: flex;
  justify-content: space-between;
}
.breed-col {
  flex-basis: 45%;
  border-radius: 8px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
.breed-col img {
  width: 100%;
  display: block;
}
.reviews {
  padding: 20px 20px;
  text-align: center;
}
.reviews h2 {
  font-size: 25px;
  padding-bottom: 20px;
}
.bottom {
  padding: 0;
  margin: 0;
  background: linear-gradient(rgb(7, 6, 0), rgb(90, 57, 6));
  height: 50vh;
  width: 100%;
}
.bottom p {
  color: #fff;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  padding: 20px;
}
